<h2>Historial</h2>

<ul class="logs">
  <li *ngFor="let log of logs; let i = index">
    <a routerLink="/detalle-log/{{log.id}}">
      <span class="badge">{{log.id}}</span> Date = {{log.fecha }}
    </a>
    <select name="Estado" [(ngModel)]="selection[i]" [disabled]="i!=this.editingLog">
      <option value="Pendiente">Pendiente</option>
      <option value="Ausente">Ausente</option>
      <option value="Aprobado">Aprobado</option>
      <option value="Desaprobado">Desaprobado</option>
    </select>
    <button class="edit" title="Editar"
      (click)="modify(log, i)" *ngIf="i!=this.editingLog">Editar</button>
    <button class="edit" title="Editar"
      (click)="conformModify(log, i)" *ngIf="i==this.editingLog">Confirmar edicion</button>
    <button class="delete" title="borrar log"
      (click)="delete(log, i)">x</button>
  </li>
</ul>
