<h2>Carreras</h2>

<form [formGroup]="carreraForm" (ngSubmit)="add(carreraForm)">
  <input formControlName="nombre" placeholder="Nombre de la carrera">
  <input type="number" formControlName="cantidadMaterias" placeholder="Cantidad de materias:">
	<button (click)="generateSubjectsInput(carreraForm.get('cantidadMaterias').value)">Especificar materias</button>

	<div>
		<a>Visible</a>
		<div formArrayName="subjects"
		 		 *ngFor="let subject of carreraForm.get('subjects').controls; let i = index;">
			    <input placeholder="Materia">
		  		<!-- Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }} -->
			</div>
	</div>

	<input type="submit"> 

</form>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>